[Unit]
After=network.target

[Service]
Environment=NODE_PORT=3000
Type=simple
User=root
ExecStart=/usr/bin/node /root/HomeFlix/bin/www
Restart=on-failure

[Install]
WantedBy=multi-user.target

