<style type="text/css">

	fieldset {
		border: solid 1px black;
	}

</style>

<fieldset>
	<legend>Admin Actions</legend>
	<form method="POST" action="/config">
		<br>
		<input type="radio" name="config_options" value="video_list_rebuild">Rebuild Video List?<br>
		<input type="radio" name="config_options" value="video_list_empty">Empty Video List?<br>
		<br>
		<button>Take Action</button>
	</form>
</fieldset>