<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href='//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css'>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
