
	<!-- Would be neat to import the name of the video and what not too! -->

	<h3>Watching: {{movie_name}}</h3>

	<video id="videoPlayer" controls>
  		<source src="/serve-video/{{id}}" type="video/mp4">
	</video>
