
	<!-- Would be neat to import the name of the video and what not too! -->

	<h3>Watching: {{movie_name}}</h3>

	<video id="videoPlayer" controls>
  		<source src="/serve-video/{{id}}" type="video/mp4">
	</video>

<script type="text/javascript" src="../javascripts/chromecast.js"></script>
 <script type="text/javascript">
	var castPlayer = new CastPlayer();
	window['__onGCastApiAvailable'] = function(isAvailable) {
	    if (isAvailable) {
	        castPlayer.initializeCastPlayer();
	    }
	};
</script>

<script src="//www.gstatic.com/cv/js/sender/v1/cast_sender.js?loadCastFramework=1"></script>